.navbar {
    .navbar-brand {
        .small-logo {
            height: 50px;
        }
    }

    .nav-item {
        a:hover {
            color: #ef5656;
        }    
    }

    .product-small {
        height: 50px;
    }
    .dropdown-width {
        width: 300px;
    }
}